---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
**Research Experience**
======
* **COVID-19 Handling Practices, Policy Communication and Implementation**     Jun 2023 – Oct 2023
  * Part-time RA, APRU Research Project
  * Supervisor: Prof. King Low Chow, PPOL, HKUST
  * Collected actions and responses of various stakeholders including government, media, private sectors, experts, citizens in HK and the mainland to build raw database; used Tableau and R for data visualization
  * Wrote introduction, overview of policies, analysis of policies, influencing factors of policies, and policy implications of the paper
 
* **Innovation and Access to Technology for Sustainable Development: Policy Actors and Tools**     Feb 2023 – Aug 2023
  * Part-time RA, HKUST RGC General Research Fund
  * Supervisor: Mr. Shubham Sharma, Prof. Kira Matus, PPOL, HKUST
  * Coded 90 indicators in 1119 policy documents using Excel, exploring methods for further analysis

* **AI for Sustainability**     May 2022 – Apr 2023
  * Part-time RA, HKUST Interdisciplinary Initiatives Project
  * Supervisor: Prof. Masaru Yarime, PPOL, HKUST
  * Collected 2 cases of AI in dealing with specific issues concerning sustainability, interviewed 3 involvers, wrote 12-page case notes
  * Co-led a 7-member team to write a report on opportunities and challenges of applying AI in sustainability with desktop research and case studies; self-drafting sections of research framework and results

* **Role of Research Universities in the Development of Technology and Innovation Hubs in GBA**     Oct 2021 – Sept 2022
  * Part-time RA, Hong Kong Government Strategic Public Policy Research Fund (19IP01)
  * Supervisors: Dr. Junmin Lee, Mr. Kevin Chandra, Dr. Mushan Jin, Prof. Xun Wu, PPOL, HKUST
  * Drafted 4 30-page reports on literature reviews of policy reviews and comparative analysis between Singapore, Seoul, and HK, to provide evidences for proposing policy recommendations for HK government to foster innovation by technology transfer
  * Assisted in other assigned tasks such as drafting frameworks for policy recommendations, generating summary tables of general and policy information of 11 hubs, revising survey questions and collecting email responses for investigating plausible policy tools, revising other regional analysis reports by adding necessary information and polishing the language
 
* **Authoritarian Responsiveness and Political Attitudes During COVID-19**     Mar 2022 – May 2022
  * Part-time RA, HKUST RGC Early Career Scheme
  * Supervisor: Prof. Han Zhang, Division of Social Science, HKUST
  * Collected 3709 policy documents from government websites, with format transformation and Excel tabulation for future analysis

* **Analysis of Pneumoconiosis Cases and Characteristics from 2004–2019 in Shandong Province**     Dec 2020 – May 2021
  * Part-time RA, Innovation Project of Shandong Academy of Medical Sciences
  * Supervisor: Dr. Qiang Jia, Dr. Yanqin Chen, Shandong First Medical University
  * Used SPSS to clean and tabulate data for descriptive analysis; wrote methods, results, and conclusion of the 6313-word manuscript
  * Investigated experience of prevention of pneumoconiosis abroad, wrote a 6-page literature review; edited manuscript as reviews


**Project Experience**
======
* **Towards a Sustainable EV Battery Recycle Chain in 2030: the Role of China and Netherlands**     Sept 2022 – May 2023
  * Member, PPOL Policy Analysis Exercise (Client: Netherlands Innovation Network)
  * Supervisor: Prof. Masaru Yarime, PPOL, HKUST
  * Conducted policy analysis, market analysis, and case studies via desktop research and various analysis framework; used R for technology network analysis to identify collaboration chances; interviewed 2 directors for challenges and policy expectations; issued survey to Dutch for policy evaluation for a Logit regression; proposed a threefold policy recommendation framework
  * Led a 5-member team for a report and presentation on opportunities, challenges, and policy options for bilateral collaboration
 
* **Innovation for Promoting Sustainable Food System in Hong Kong**     Oct 2022 – Dec 2023
  * Member, PPOL Innovation in Sustainability Capstone Project
  * Supervisor: Prof. Masaru Yarime, PPOL, HKUST
  *  Conducted interviews with 2 start-ups for real-life challenges and expectations; issued surveys to HK residents for descriptive and regression analysis to evaluate current popularization actions; performed case studies of Singapore and Taiwan for HK’s insights
  * Led a 5-member team to write a report on problem framing and policy recommendations to promote sustainable agri-tech in HK

* **Salient Altar of Saline Alkali Land: Lessons from the Development of Agricultural Technology in Saline Alkali Land in the Yellow River Delta**     May 2022 – Aug 2022
  * Leader, 2022 THU Case Analysis Competition
  * Supervisors: Prof. Masaru Yarime, Prof. Xiaofan Zhao, PPOL, HKUST
  * Conducted a 4-day field trip in Dongying City independently, organized 5 semi-structured interviews relatively with stakeholders including civil servants, R&D staff, CCTV director and farmer and 1 focus group with 5 administrative staffs to get obstacles and expectations for agri-tech innovation, collected 30 surveys for policy evaluation (descriptive analysis in Excel)
  * Wrote a 68-page report including obstacles in talent attraction, farmer education and industrialization, with practical policy options


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

