---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
**Work Experience**
======
* **Assistant to the Director**, Department of Social Work (Wujiang) Aug 2024 - Aug 2025
  * Conducting policy research and field investigations, drafted policy documents and reports
  * Assisting with media outreach, including writing video scripts and drafting promotional materials
  * Supporting the organization of events and meetings, including preparing slides and setting up the venue
  * Mentor: Zhang Xia

* **Programme Intern**, UN Global Compact Beijing Office (Beijing) Jan 2024 - Apr 2024
  * Facilitated content localization, encompassing website design, translation, proofreading, and creation of outreach media articles
  * Executed policy, market, and media research and analysis; conducted background checks; drafted reports and memos
  * Organized 5 offline/online activities and events, liaising with regional offices, other UN entities, and diverse stakeholders (government, corporations, media outlets, etc.); made banners and posters; hosted events; and crafted social media content
  * Mentor: Ge Qian

* **Part-time Assistant**, Vican Fund (Shenzhen) Mar 2020 - May 2020
  * Independently wrote 3 reports on investment focus during COVID-19, with impact of pandemic on 10 key industries; identified and assessed potential risks for 10 enterprises for in-depth research; formed preliminary investment strategy recommendations
  * Assisted in producing, drafting and refining of materials for 3 projects, including roadshow PPT, due diligence report, etc; generated weekly and monthly reports; wrote meeting memos; translated Chinese and English materials; designed posters, etc
  * Mentor: Irran

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
